# Compiled Python files
*.pyc

# Dependency directories
__pycache__/
env/
venv/
venv*/

# Logs and databases
*.log
*.sqlite3

# Output files
totp.png

# IDE-specific files
.idea/
.vscode/
*.code-workspace
*.iml
*.ipynb_checkpoints/

# Other
*.pyo
*.pyd
*.bak
*.swp
.DS_Store
